# Import Libraries and Datasets

In [ ]:
# Import Libraries

import pandas as pd

In [ ]:
# Import Dataset Paid Transaction
df_paidTransaction = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name="Paid-Transaction")

display(df_paidTransaction)

,Paid Date,Order Number,First Name,Last Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

In [ ]:
# Import Dataset Seller
df_seller = pd.read_excel('Homework-DataFrame-Dataset.xlsx', sheet_name="Seller")

display(df_seller)

          Order Number        Seller
0      201707209929420  Global Phone
1      201707129550097        E-shop
2      201707039056021   twelven com
3      201707099376522      GRAMEDIA
4      201707028956707        E-Bold
...                ...           ...
11995  201712042733301        E-Bold
11996  201711292684084  Luckykorea88
11997  201712072774578      GAU SHOP
11998  201712032722038   Farida Toko
11999  201712112833370   Mullia Cell

[12000 rows x 2 columns]

# Soal 1
Buatlah kolom baru bernama “Full Name” dan sisipkan kolom tersebut setelah kolom “Last Name” yang berisikan nama lengkap dari setiap isian record dengan ketentuan sebagai berikut:
*   Nama lengkap menggabungkan “First Name” dan “Last Name”.
*   Nama lengkap menggunakan “title case”, yaitu untuk setiap kata, huruf awalnya harus huruf kapital

In [ ]:
# Get index position of "Last Name"
new_column_index = df_paidTransaction.columns.get_loc('Last Name')

# Insert new column 'Full Name' inside the DataFrame at position after column "Last Name"
df_paidTransaction.insert(new_column_index+1, 'Full Name', (df_paidTransaction['First Name'] + ' ' + df_paidTransaction['Last Name']).str.title())

df_paidTransaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,20000.0,17000,0.0

# Soal 2


*   Tambahkan sebuah kolom setelah kolom “Seller Discount” dan beri nama kolom tersebut sebagai “GMV”.  
*   GMV adalah Gross Merchandise Value yang nilainya dihitung berdasarkan “Transaction Amount” dikurangi “Seller Discount” ditambah dengan “Delivery Fee”

In [ ]:
# Get index position of "Seller Discount"
new_column_index = df_paidTransaction.columns.get_loc('Seller Discount')


# Insert new column 'GMV' inside the DataFrame at position after column "Seller Discount"
df_paidTransaction.insert(new_column_index+1, 'GMV', (df_paidTransaction['Transaction Amount'] - df_paidTransaction['Seller Discount'] + df_paidTransaction['Delivery Fee']))

df_paidTransaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0

# Soal 3
*   Kelompokkan setiap Meta Category menjadi 2 group sesuai tabel di bawah ini (hint: buat kolom tambahan yang berisi keterangan group 1 atau 2 sesuai Meta Category-nya).
*   Buatlah DataFrame baru yang menyimpan pivot table dari DataFrame “Paid-Transaction” di atas untuk menampilkan jumlah total nilai GMV per-bulan untuk setiap group.


Group 1                   
* Home/ Food
* Sports/ Hobi/ Otomotif
* Fashion
* Beauty/ Health

Group 2
* Gadget/ Komputer
* Elektronik
* Service/ Mokado
* Babies/ Kids

## 3.1
Kelompokkan setiap Meta Category menjadi 2 group sesuai tabel di bawah ini (hint: buat kolom tambahan yang berisi keterangan group 1 atau 2 sesuai Meta Category-nya).

In [ ]:
# Get index position of "Meta Category"
new_column_index = df_paidTransaction.columns.get_loc('Meta Category')

group_category = {
    "Group 1": ["Home/ Food", "Sports/ Hobi/ Otomotif", "Fashion", "Beauty/ Health"],
    "Group 2": ["Gadget/ Komputer", "Elektronik", "Service/ Mokado", "Babies/ Kids"]
}

def get_group_category(item):
  for group_name, categories in group_category.items():
        if item in categories:
            return group_name
  return None

# Insert new column 'Group Meta Category' inside the DataFrame at position after column "Meta Category"
df_paidTransaction.insert(new_column_index+1, 'Group Name', df_paidTransaction['Meta Category'].map(get_group_category))

df_paidTransaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Name,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,20170724,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Group 2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,20170701,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Group 2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0
2,20170707,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,Group 2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0
3,20170720,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Group 1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0
4,20170722,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Group 2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,20171201,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0
11996,20171203,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0
11997,20171204,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Group 1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0
11998,20171207,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Group 2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0
11999,20171205,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,Group 2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0

## 3.2
Buatlah DataFrame baru yang menyimpan pivot table dari DataFrame “Paid-Transaction” di atas untuk menampilkan jumlah total nilai GMV per-bulan untuk setiap group.

In [ ]:
# Change column "PaidDate" to DateTime Type
df_paidTransaction['Paid Date']= pd.to_datetime(df_paidTransaction['Paid Date'], format='%Y%m%d')

df_paidTransaction

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Name,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Group 2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Group 2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,Group 2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Group 1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Group 2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2017-12-01,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0
11996,2017-12-03,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0
11997,2017-12-04,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Group 1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0
11998,2017-12-07,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Group 2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0
11999,2017-12-05,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,Group 2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0

In [ ]:
# Create pivot table for sum of GMV for each month for each group category
pivot_gmv_group = df_paidTransaction.pivot_table(
    values='GMV',
    index=df_paidTransaction['Paid Date'].dt.month,
    columns='Group Name',
    aggfunc='sum',
    fill_value=0
).sort_index()

pivot_gmv_group.style.format('{:,.0f}')

# Soal 4
Buatlah python statement untuk mencari Seller mana yang memiliki total nilai GMV paling tinggi di bulan Agustus 2017. (Hint: gunakan juga sheet “Seller”)

In [ ]:
# Merge 2 DataFrame df_paidTransaction and df_Seller on "Order Number"
merged_df = pd.merge(df_paidTransaction, df_seller, on='Order Number', how='left')

merged_df

,Paid Date,Order Number,First Name,Last Name,Full Name,Meta Category,Group Name,Product Name,Transaction Amount,Seller Discount,GMV,Sales Discount,Delivery Fee,Other Discount,Seller
0,2017-07-24,201707240088517,elvride,aries,Elvride Aries,Babies/ Kids,Group 2,Pineapple Hat Anak Ala Korea - 6M - 4Y - Unise...,300000,153000,156000,10200.0,9000,0.0,Babymaniashop
1,2017-07-01,201707018889790,BASIR,Ninuk,Basir Ninuk,Service/ Mokado,Group 2,Pulsa BOLT 150.000,287800,68000,219800,0.0,0,0.0,E-Bold
2,2017-07-07,201707079264675,Citra,Ardi,Citra Ardi,Service/ Mokado,Group 2,"XTRA Combo 12X 6GB, 12bln",35000,0,35000,700.0,0,0.0,XLmystore
3,2017-07-20,201707209945714,Dian,Renaldi,Dian Renaldi,Fashion,Group 1,Square Foldable Travel Bag / Tas Koper Luggage...,85000,0,85000,5900.0,0,0.0,Ennwen Online Store
4,2017-07-22,201707220002354,rizal,Tamba,Rizal Tamba,Gadget/ Komputer,Group 2,Samsung Galaxy Note 5 Gold,81000,0,81000,5600.0,0,0.0,Media Gadget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,2017-12-01,201712012704898,Fitrah,gina,Fitrah Gina,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",333000,300000,33000,2300.0,0,0.0,XLmystore
11996,2017-12-03,201712032723513,Djebeng,Shinta,Djebeng Shinta,Service/ Mokado,Group 2,"Xtra Combo 12GB, 30hr",280000,222500,57500,0.0,0,0.0,XLmystore
11997,2017-12-04,201712042740205,Amik,Elan,Amik Elan,Home/ Food,Group 1,Kreta - Kripik Tempe Indonesia - Rasa Jomblo d...,150000,81000,69000,4800.0,0,0.0,Kreta Chips
11998,2017-12-07,201712072778621,Anna,asih,Anna Asih,Gadget/ Komputer,Group 2,Samsung Galaxy J5 Pro Garansi Resmi Special Price,475000,400000,75000,0.0,0,0.0,Erafone.com
11999,2017-12-05,201712052746101,nidyah,ayi,Nidyah Ayi,Service/ Mokado,Group 2,[SERBU 11.12] Share Tea Cocoa Rocksalt & Chees...,475000,400000,92000,20000.0,17000,0.0,Serbu Seller

In [ ]:
# Filter and group by month August year 2017
august_2017 = df_paidTransaction[
    (df_paidTransaction['Paid Date'].dt.month == 8) &
    (df_paidTransaction['Paid Date'].dt.year == 2017)
]

# Sort descending to get the highest sum and get the first row
top_seller_df = august_2017.groupby(merged_df['Seller'])['GMV'].sum().sort_values(ascending=False).head(1).to_frame()

# Change format
top_seller_df.style.format({'GMV': '{:,.0f}'})

# Soal 5
Buatlah python statement untuk mencari Seller mana yang memiliki banyaknya transaksi (count) paling banyak di bulan September 2017 khusus untuk Meta Category “Fashion”. (Hint: gunakan juga sheet “Seller”)

In [ ]:
# Filter and group by month September year 2017 and meta category = 'Fashion'
september_2017_fashion = df_paidTransaction[
    (df_paidTransaction['Paid Date'].dt.month == 9) &
    (df_paidTransaction['Paid Date'].dt.year == 2017) &
    (df_paidTransaction['Meta Category'] == 'Fashion')
]

# Sort descending dan ambil yang teratas
top_seller_df = september_2017_fashion.groupby(merged_df['Seller']).size().sort_values(ascending=False).head(1).to_frame()

print(top_seller_df)

            0
Seller
tokoaqila  31